<mat-toolbar class="header">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- <button color="primary">

  </button> -->

  <a class="homeCW" routerLink="/"><span>CW</span></a>
  <div style="margin: 0 30px; text-decoration: none;">
    <button mat-button routerLink="/bigO" routerLinkActive="mat-accent">Big-O <mat-icon>grade</mat-icon></button>
    <button mat-button routerLink="/playground" routerLinkActive="mat-accent">Playground <mat-icon>stars</mat-icon></button>
    <button mat-button routerLink="/jsDiff" routerLinkActive="mat-accent">JS_Diff <mat-icon>brightness_4</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="cwMenu">Nested Menu <mat-icon>arrow_drop_down</mat-icon></button>
  </div>

  <mat-menu #cwMenu="matMenu">
    <button mat-menu-item routerLink="/playground/play1">
      <span>Test1</span>
    </button>
    <button mat-menu-item routerLink="/playground/play2">
      <span>Test2</span>
    </button>
    <button mat-menu-item routerLink="/playground/play3">
      <span>Test3</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [fixedInViewport]="false" >
    Hello World
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

<mat-toolbar class="footer">
  <span>Footer</span>
</mat-toolbar>
